---
import { getPostsSummary } from "../data/posts-summary";
const posts = await getPostsSummary();
---

<main>
	{
		posts.map((post: any) => (
			<article>
				<h2>
					<a href={`blog/posts/${post.id}`}>{post.title}</a>
				</h2>
				<div />
			</article>
		))
	}
</main>
