---
import { getPostsSummary } from "@data/posts-summary";
import Base from "@layouts/Base.astro";
const posts = await getPostsSummary();
const metaInfo = {
	title: "Hello world - Astro",
	currentUrl: "",
	socialImage: "",
	summary: "",
};
---

<Base metaInfo={metaInfo}>
	<main>
		{
			posts.map((post: any) => (
				<article>
					<h2>
						<a href={`blog/posts/${post.slug}`}>{post.title}</a>
					</h2>
					<div />
				</article>
			))
		}
	</main>
</Base>
